<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Entrata Automation Suite">
  <test thread-count="5" name="Entrata Test Cases">
    <classes>
		      <class name="com.entrata.qa.testcases.ContentLoadingTest"/>
	  <class name="com.entrata.qa.testcases.NavigateTest"/>
      <class name="com.entrata.qa.testcases.ContactFormTest"/>
      <class name="com.entrata.qa.testcases.Privacy_PolicyTest"/>
      <class name="com.entrata.qa.testcases.HowItWorksTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
